[Desktop Entry]
Encoding=UTF-8
Name=Link to Cloning Methods - Recombination cloning systems - GATEWAY Cloning Technology - EMBL
Type=Link
URL=https://www.embl.de/pepcore/pepcore_services/cloning/cloning_methods/recombination/gateway/
Icon=text-html
