[Desktop Entry]
Encoding=UTF-8
Name=Link to Plasmids 101: TOPO Cloning
Type=Link
URL=https://blog.addgene.org/plasmids-101-topo-cloning
Icon=text-html
