[Desktop Entry]
Encoding=UTF-8
Name=Link to Plasmids 101: Gateway Cloning
Type=Link
URL=https://blog.addgene.org/plasmids-101-gateway-cloning
Icon=text-html
